<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Story:{{ index }}</title>
    <style>
      nav {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
      }
      pre {
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <h1 title="current">Story</h1>
    <h2 title="current">{{ index }}</h2>
    <nav>
      <a title="start" href="/1.html">&lt;&lt;</a>
      <a title="previous" href="/{{ index - 1 }}.html">&lt;</a>
      <a title="random" href="/">🎲</a>
      <a title="next" href="/{{ index + 1 }}.html">&gt;</a>
      <a title="end" href="/{{ max_pages }}.html">&gt;&gt;</a>
    </nav>
    <pre>
      {{ pres | safe}}
    </pre>
    <nav>{{ links | safe }}</nav>
  </body>
</html>
